body{
    margin: 0;
    font-family: "Mulish", sans-serif;
}

/* Default CSS style */

:root{
    --primary-color: #FF5400;
    --title-color: #131318;
    --card-color: #5A5A5D;
    --menu-color: #424247;
    --description-color: #131318b3;
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 1rem 2rem;
    text-transform: capitalize;
}

/* Header Section styles */

.container{
    max-width: 1180px;
    margin: auto;
}

.header-img{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-img img{
    width: 50px;
    height: 50px;
}
.header-logo{
    color: var(--title-color);
    font-size: 2.25rem;
    font-weight: 800;
}
.traveling{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0rem;
}
.menu-list{
    display: flex;
    align-items: center;
}

.menu-list li{
    list-style: none;
}
.menu-list a{
    color: var(--card-color);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 2.5rem;

}
.menu-list a.active{
    color: var(--primary-color);
}

/* Banner Section styles */

.banner-part{
    background-image: url("../Images/Group 13 (1) (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    text-align: center;
    border-radius: 16px;
}

.banner-content{
    max-width: 670px;
    margin: 0 auto;
}

.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0px;
}

.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 1.5rem 0rem 3rem 0rem;
}

.banner-form{
    max-width: 785px;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.banner-form input{
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 1rem 0rem 1rem 1rem;
    margin-right: 20px;
}


/* Popular section styles */


.popular-part{
    display: flex;
    gap: 30px;
    margin: 100px 0px;
}

.popular-title{
    color: #131318;
    font-size: 40px;
    margin: 0px 0px 24px 0px;
    font-weight: 800;
    text-transform: capitalize;
}

.popular-description, .popular-list{
    color: var(--description-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 0px 24px 0px;
}

.destination-section{
    max-width: 700px;
    margin: 0 auto 50px;
}
.destination-title{
    color: var(--title-color);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;

}

.destination-description{
    color: var(--description-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

.img-group{
    margin-bottom: 70px;
}
.group-img{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  
}

.card-list{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.card-group{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
    width: 575px;
    margin: auto;
}
.middle{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-middle{
    margin-bottom: 100px;
}
.card-title{
    color: var(--title-color);
    font-size: 24px;
    font-weight: 800;
    text-transform: capitalize;
}
.card-description{
    color: var(--card-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}

/* Footer section styles */
.footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0px;
}

.img-center{
    max-width: 265px;
    margin: auto;
}
.footer-content{
    max-width: 600px;
    margin: 0 auto;
}
.footer-description{
    color: var(--description-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid var(--card-color);
    padding: 50px 0px 0px 0px;
    border-color: rgba(19, 19, 24, 0.10);
    margin: 0;
}
.footer-icon li{
    list-style: none;
    
}
.footer-icon a{
    color: var(--title-color);
    margin-right: 10px;
    font-size: 18px;
    
}


/* Mobile Devices */
@media screen and (max-width: 576px) {
    .header-area{
        padding: 20px;
    }
    .header-logo, 
    .traveling, 
    .banner-title{
        font-size: 22px;
    }
    .menu-list, 
    .navbar,
    .popular-part,
    .group-img,
    .card-list{
        flex-direction: column;
    }
    .menu-list{
        padding: 0;
    }
    .menu-list a,
    .destination-section,
    .card-list{
        margin: 0rem;
    }
    .menu-list li{
        margin: 0rem 0rem 1rem 0rem;

    }
    .popular-description, .popular-list{
        font-size: 14px;
    }
    .popular-img img{
        width: 100%;
    }
    .banner-part,
    .popular-part,
    .destination-section,
    .img-group,
    .card-list{
        padding: 20px;
    }
    .card-middle{
        padding: 0px 24px 24px;
        margin-bottom: 30px;
    }
    .banner-form input{
        width: 95%;
        margin-bottom: 24px;
    }
    .popular-title{
        font-size: 20px;
    }
    
    .banner-description{
        font-size: 14px;
    }
    .banner-form{
        margin-bottom: 20px;
    }
    .btn-primary{
        width: 100%;
    }
    .popular-part{
        margin: 20px 0px 30px;
    }
    .destination-title,
    .card-title{
        font-size: 20px;
    }
    .destination-description,
    .card-description{
        font-size: 14px;
    }
    .img-group img{
        width: 335px;
        height: 175px;
    }
    .card-group{
        width: 80%;
    }
    .img-group{
        margin-bottom: 30px;
    }
    
}

